* {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #1e1e2f;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quize-box {
    background: #2a2a40;
    padding: 3px;
    border-radius: 16px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

#timer {
    margin-bottom: 10px;
    color: #ffcc00;
    font-size: 20px;
}

#question {
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

#next-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background: #4b6cb7;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.option-btn {
    background: #38385e;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 12px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.option-btn:hover {
    background: #4b4b7e;
}

.option-btn.correct {
  background-color: #3cb371;
}
.option-btn.wrong {
  background-color: #e74c3c;
}